.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
}

.pokemon {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 2rem 1rem;
    border-radius: 1rem;
    background-color: #49d0b0;
    color: #FFFFFF;
}

.pokemon .detail img {
    max-width: 100%;
    height: 70px;
    align-self: flex-end;
}

.pokemon .number {
    color: #ffffff;
    opacity: .3;
    text-align: right;
    font-size: .625rem;
}

.pokemon .name {
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: capitalize;
    margin-bottom: .24rem;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types{
    padding: 0;
    margin: 0;
    list-style: none;
}

.type {
    background-color: #61E1CA;
    color: #FFFFFF;
    border-radius: 1rem;
    padding: .25rem .5rem;
    margin: .25rem;
    font-size: .700rem;
}

@media screen and (min-width: 380px) {
    .pokemons {
    grid-template-columns: 1fr 1fr;
    
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
    grid-template-columns: 1fr 1fr 1fr;
    
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    }
    
}